/* CSS for Project Group */

.ProjectGroup {
    padding-top: 1rem;
}

.projectGroup h1 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

/* Style the project title */

.project-group-title {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    border-bottom: 4px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    outline: none;
    font-size: 3.5rem;
    color: #36393f;
    background-color: inherit;

    /* Scroll offset for navbar */
    scroll-margin-top: 3rem;
    scroll-snap-margin-top: 5rem;
}

/* <---------- General Mobile Rules ------------------> */

@media screen and (max-width: 1023px) {
    .project-group-title {
        width: 70%;
        font-size: 2.8rem;
    }
}


/* <-----------  Navbar Scrolling offset on click -------------> */

/* Portrait modes */

/* Everything smaller than an iPhone 6 */
@media screen and (max-width: 374px) and (max-height: 666px) {
    .project-group-title {
        scroll-margin-top: 5em;
        scroll-snap-margin-top: 5em;
    }
}

/* Everything at an iPhone 6 but smaller than an iPad Pro */
@media screen and (max-height: 1365px) and (max-width: 1023px) and (min-width: 375px) and (min-height: 667px) {
    .project-group-title {
        scroll-margin-top: 11em;
        scroll-snap-margin-top: 11em;
    }
}

/* Landscape mode */

/* Everything smaller than an iPad landscape but equal to or larger than an iPhone 5 landscape */
@media screen and (max-width: 1025px) and (max-height: 768px) and (min-width: 567px) and (min-height: 319px) {
    .project-group-title {
        scroll-margin-top: 2.5em;
        scroll-snap-margin-top: 2.5em;
    }
}